/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 25px;
}
#header{
    height: 150px;
    background-color: green;
    margin: 0px;
 
 
}
#navigation{
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 150px;
}
#main_content{
    height: 430px;
    width: 695px;
    background-color: red;
    display: inline-block;
    padding: 15px;
    margin: 0px;
    margin-bottom: 50px;
    position: absolute;
    margin-top: 20px;
}
.subcontents{
    height: 210px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    margin-right: 15px;
 
}
#advertisement{
height: 135px;
width: 670px;
background-color: purple;
margin-bottom: 13px;
margin-top: 25px;
 
}